*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
header{
    margin: 44px 0 144px 76px;
}
.link-header{
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color:#ff0000;
    cursor: pointer;
    margin-right: 23px;

}
.button-header{
    background:#ff0000 ;
    border-radius: 20.5px;
    width: 130px;
    height: 42px;
    border:none;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;

    

}
.logo-image {
     width: 558px;
    height: 500px;
    margin-left: 95px;
    display: inline-block;
}
section{
    display: inline-block;
    margin-left: 86px;
}
h1{
     font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
}
h2{
     font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color:#ff0000
}
p{
     font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color:#515151;
    width: 515px;   
    margin-top: 32px;
    margin-bottom: 65px; 
    

}
.button-main{
    background: #adff00;
    border-radius: 20.5px;
    width: 239px;
    height:64px ;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px );
     font-weight: 700px;
    font-size: 28px;
    line-height: 34px;
    color:#000000;

}
